:root {
  --grid-width: 500px;
  --grid-height: 500px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Roboto";
  line-height: 1.6;
  display: grid;
  place-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  /* gap: 10px; */
  width: var(--grid-width);
  height: var(--grid-height);
  border: 2px solid black;
}

.grid-item {
  background-color: #fff;
}

.grid-hover {
  background-color: #ccc;
}

.container {
  display: flex;
  gap: 2em;
  align-items: center;
}

.btn {
  padding: 0.75em 1em;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
}

.btn:hover,
.btn:focus {
  background-color: #ccc;
  color: #000;
}

.btn:active {
  background-color: #000;
  color: #fff;
  transform: scale(1.1);
  /* transition: 0.25s all ease; */
}

.box-number {
  display: flex;
  flex-direction: column;
}

.grid-size {
  font-weight: bold;
  text-align: center;
}

.grid-description {
  font-size: 0.8rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
}
